@import "~bootstrap/scss/bootstrap";

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
    }
}

header .nav-link {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
